.footer {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  background-image: url(../../../public/img/footerBc.png);
  background-blend-mode: multiply;
  background-color: #ececec;

  &__flex {
    display: flex;
  }

  &__left {
    width: 50%;
    margin-top: 60px;

    &-title {
      h1 {
        font-size: 24px;
        color: #595959;
        font-weight: 400;
        margin-right: 40px;
        margin-top: 34px;
        position: absolute;
      }
    }

    &-flex {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      margin-left: 160px;

      &-btn {
        padding: 6px 40px;
        border: none;
        border-radius: 44px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        background-color: #0d4c93;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #00c9c9;
        }
      }
    }

    &-context {
      display: flex;
      margin-right: 40px;
      margin-bottom: 20px;

      &-icons {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        transition: 0.3s;
        margin-right: 20px;

        &:hover {
          background-color: #00c9c9;
        }

        &-icon {
          width: 22px;
          height: 22px;
          fill: #0d4c93;
          margin-top: 9px;
          margin-left: 9px;
        }
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      margin-bottom: 60px;

      img {
        margin-right: 60px;
      }
    }
  }

  &__right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 40px;

    &-content {
      h1 {
        font-size: 22px;
        color: #595959;
        font-weight: 500;
        padding-bottom: 10px;
      }

      p {
        color: #595959;
        font-size: 14px;
        padding-bottom: 10px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          text-decoration: underline;
          color: #00c9c9;
        }
      }
    }
  }

  &__inf {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
